/* VARIABLES */
:root {
  /* COLOR */
  --primary: rgba();
  --secondary: rgba();
  --tertiary: rgba();
  --valid: rgba();
  --invalid: rgba();

  /* SIZE */
  --space-2xs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 32px;
  --space-xl: 40px;
  --space-2xl: 48px;

  /* FONT */
  --font-2xs: 10px;
  --font-xs: 12px;
  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 20px;
  --font-2xl: 22px;
  --font-3xl: 24px;
  --font-4xl: 26px;
  --font-5xl: 28px;
  --font-6xl: 30px;
}

/* COLOR */
.color {}
.color.bg {}
.color.dark {}
.color.light {}
/* COLOR - PRIMARY */
.color.primary {color: var(--primary);}
.color.primary.dark {}
.color.primary.light {}
.color.primary.bg {background-color: var(--primary); color: initial;}
.color.primary.bg.dark {}
.color.primary.bg.light {}
/* COLOR - SECONDARY */
.color.secondary {color: var(--secondary);}
.color.secondary.dark {}
.color.secondary.light {}
.color.secondary.bg {background-color: var(--secondary); color: initial;}
.color.secondary.bg.dark {}
.color.secondary.bg.light {}
/* COLOR - TERTIARY */
.color.tertiary {color: var(--tertiary);}
.color.tertiary.dark {}
.color.tertiary.light {}
.color.tertiary.bg {background-color: var(--tertiary); color: initial;}
.color.tertiary.bg.dark {}
.color.tertiary.bg.light {}
/* COLOR - VALID */
.color.valid {color: var(--valid);}
.color.valid.dark {}
.color.valid.light {}
.color.valid.bg {background-color: var(--valid); color: initial;}
.color.valid.bg.dark {}
.color.valid.bg.light {}
/* COLOR - INVALID */
.color.invalid {color: var(--invalid);}
.color.invalid.dark {}
.color.invalid.light {}
.color.invalid.bg {background-color: var(--invalid); color: initial;}
.color.invalid.bg.dark {}
.color.invalid.bg.light {}

/* SPACE */
.space {margin: 0 auto;}
/* SPACE - TOP */
.space-2xl {margin-top: var(--space-2xl)!important;}
.space-xl {margin-top: var(--space-xl)!important;}
.space-lg {margin-top: var(--space-lg)!important;}
.space-md {margin-top: var(--space-md)!important;}
.space-sm {margin-top: var(--space-sm)!important;}
.space-xs {margin-top: var(--space-xs)!important;}
.space-2xs {margin-top: var(--space-2xs)!important;}
/* SPACE - BOTTOM */
.space-2xl.bottom {margin-top: 0!important; margin-bottom: var(--space-2xl)!important;}
.space-xl.bottom {margin-top: 0!important; margin-bottom: var(--space-xl)!important;}
.space-lg.bottom {margin-top: 0!important; margin-bottom: var(--space-lg)!important;}
.space-md.bottom {margin-top: 0!important; margin-bottom: var(--space-md)!important;}
.space-sm.bottom {margin-top: 0!important; margin-bottom: var(--space-sm)!important;}
.space-xs.bottom {margin-top: 0!important; margin-bottom: var(--space-xs)!important;}
.space-2xs.bottom {margin-top: 0!important; margin-bottom: var(--space-2xs)!important;}
/* SPACE - BOTH */
.space-2xl.both {margin-top: var(--space-2xl)!important; margin-bottom: var(--space-2xl)!important;}
.space-xl.both {margin-top: var(--space-xl)!important; margin-bottom: var(--space-xl)!important;}
.space-lg.both {margin-top: var(--space-lg)!important; margin-bottom: var(--space-lg)!important;}
.space-md.both {margin-top: var(--space-md)!important; margin-bottom: var(--space-md)!important;}
.space-sm.both {margin-top: var(--space-sm)!important; margin-bottom: var(--space-sm)!important;}
.space-xs.both {margin-top: var(--space-xs)!important; margin-bottom: var(--space-xs)!important;}
.space-2xs.both {margin-top: var(--space-2xs)!important; margin-bottom: var(--space-2xs)!important;}

/* INSET */
.inset {padding: 0 var(--space-sm);}
/* INSET - TOP */
.inset-2xs {padding-top: var(--space-2xs)!important;}
.inset-xs {padding-top: var(--space-xs)!important;}
.inset-sm {padding-top: var(--space-sm)!important;}
.inset-md {padding-top: var(--space-md)!important;}
.inset-lg {padding-top: var(--space-lg)!important;}
.inset-xl {padding-top: var(--space-xl)!important;}
.inset-2xl {padding-top: var(--space-2xl)!important;}
/* INSET - BOTTOM */
.inset-2xs.bottom {padding-top: 0!important; padding-bottom: var(--space-2xs)!important;}
.inset-xs.bottom {padding-top: 0!important; padding-bottom: var(--space-xs)!important;}
.inset-sm.bottom {padding-top: 0!important; padding-bottom: var(--space-sm)!important;}
.inset-md.bottom {padding-top: 0!important; padding-bottom: var(--space-md)!important;}
.inset-lg.bottom {padding-top: 0!important; padding-bottom: var(--space-lg)!important;}
.inset-xl.bottom {padding-top: 0!important; padding-bottom: var(--space-xl)!important;}
.inset-2xl.bottom {padding-top: 0!important; padding-bottom: var(--space-2xl)!important;}
/* INSET - BOTH */
.inset-2xs.both {padding-top: var(--space-2xs)!important; padding-bottom: var(--space-2xs)!important;}
.inset-xs.both {padding-top: var(--space-xs)!important; padding-bottom: var(--space-xs)!important;}
.inset-sm.both {padding-top: var(--space-sm)!important; padding-bottom: var(--space-sm)!important;}
.inset-md.both {padding-top: var(--space-md)!important; padding-bottom: var(--space-md)!important;}
.inset-lg.both {padding-top: var(--space-lg)!important; padding-bottom: var(--space-lg)!important;}
.inset-xl.both {padding-top: var(--space-xl)!important; padding-bottom: var(--space-xl)!important;}
.inset-2xl.both {padding-top: var(--space-2xl)!important; padding-bottom: var(--space-2xl)!important;}
/* INSET - ALIGN */
.inset.left {text-align: left;}
.inset.right {text-align: right;}
.inset.center {text-align: center;}
.inset.top {display: flex; flex-direction: column; justify-content: flex-start;}
.inset.middle {display: flex; flex-direction: column; justify-content: center;}
.inset.bottom {display: flex; flex-direction: column; justify-content: flex-end;}

/* TITLE */
.title {line-height: 1.5;}
/* TITLE - SIZE */
.title.xxs {font-weight: bold; font-size: var(--font-lg);}
.title.xs {font-weight: bold; font-size: var(--font-xl);}
.title.sm {font-weight: bold; font-size: var(--font-2xl);}
.title.md {font-weight: bold; font-size: var(--font-3xl);}
.title.lg {font-weight: bold; font-size: var(--font-4xl);}
.title.xl {font-weight: bold; font-size: var(--font-5xl);}
.title.xxl {font-weight: bold; font-size: var(--font-6xl);}
/* TEXT */
.text {line-height: 1.5;}
/* TEXT - SIZE */
.text.xxs {font-size: var(--font-2xs);}
.text.xs {font-size: var(--font-xs);}
.text.sm {font-size: var(--font-sm);}
.text.md {font-size: var(--font-md);}
.text.lg {font-size: var(--font-lg);}
.text.xl {font-size: var(--font-xl);}
.text.xxl {font-size: var(--font-2xl);}
/* TITLE, TEXT - STYLE */
.text.bold {font-weight: bold;}
/* TITLE, TEXT - LINEAR */
.text.xxs.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-2xs) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-2xs) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-2xs) * 1.5));}
.text.xs.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-xs) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-xs) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-xs) * 1.5));}
.text.sm.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-sm) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-sm) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-sm) * 1.5));}
.text.md.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-md) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-md) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-md) * 1.5));}
.text.lg.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-lg) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-lg) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-lg) * 1.5));}
.text.xl.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0)calc( var(--font-xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-xl) * 1.5));}
.text.xxl.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-2xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-2xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-2xl) * 1.5));}
.title.xxs.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-lg) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-lg) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-lg) * 1.5));}
.title.xs.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-xl) * 1.5));}
.title.sm.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-2xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-2xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-2xl) * 1.5));}
.title.md.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-3xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-3xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-3xl) * 1.5));}
.title.lg.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-4xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-4xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-4xl) * 1.5));}
.title.xl.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-5xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-5xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-5xl) * 1.5));}
.title.xxl.linear {background-image: repeating-linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) calc(var(--font-6xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-6xl) * 0.8), rgba(0, 0, 0, 0.15) calc(var(--font-6xl) * 1.5));}
/* TITLE, TEXT - ICON */
.title.linear + [class*=icon-],
.text.linear + [class*=icon-],
.title.linear > [class*=icon-],
.text.linear > [class*=icon-] {margin-left: 8px; vertical-align: unset;}
/* TITLE, TEXT - ALIGN */
.title.left,
.text.left {text-align: left;}
.title.right,
.text.right {text-align: right;}
.title.center,
.text.center {text-align: center;}

/* HIDDEN */
.hidden {overflow: hidden; visibility: hidden; width: 0; height: 0; pointer-events: none;}

/* CLEAR */
.clear::before {content: ''; display: block; clear: both;}

/* SCROLL */
.scroll-x {overflow-x: auto; overflow-y: hidden;}
.scroll-y {overflow-y: auto; overflow-x: hidden;}
.scroll-hidden {overflow: hidden;}

/* LINEAR */
.linear:not(.title):not(.text) {display: block; margin: 0; height: 1px; border: none; background-color: rgba(0, 0, 0, 0.25);}
.linear:not(.title):not(.text).dashed {background-color: rgba(0, 0, 0, 0); background-image: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) 1px, rgba(0, 0, 0, 0) 1px, rgba(0, 0, 0, 0) 4px);}
.linear:not(.title):not(.text).hidden {overflow: hidden; height: 0; background: none;}

/* ROUNDED */
.round {border-radius: 16px;}
.round.half {border-radius: 50%;}

/* FLEX */
.flex {display: flex;}
.flex.wrap {flex-wrap: wrap;}
.flex.column {flex-direction: column;}
.flex > .grow {flex-grow: 1!important; flex-shrink: 0; flex-basis: 0;}
.flex > .col-1 {flex-grow: 0; flex-shrink: 0; flex-basis: calc(100% / 1)!important;}
.flex > .col-2 {flex-grow: 0; flex-shrink: 0; flex-basis: calc(100% / 2)!important;}
.flex > .col-3 {flex-grow: 0; flex-shrink: 0; flex-basis: calc(100% / 3)!important;}
.flex > .col-4 {flex-grow: 0; flex-shrink: 0; flex-basis: calc(100% / 4)!important;}
.flex:not(.column) > .left {margin-right: auto;}
.flex:not(.column) > .right {margin-left: auto;}
/* FLEX - WRAP SPACE */
.flex.wrap.space {margin-top: -8px; margin-left: -8px;}
.flex.wrap.space > [class*=col-] {margin-top: 8px; margin-left: 8px;}
.flex.wrap.space > .col-1 {flex-basis: calc(100% / 1 - 8px)!important;}
.flex.wrap.space > .col-2 {flex-basis: calc(100% / 2 - 8px)!important;}
.flex.wrap.space > .col-3 {flex-basis: calc(100% / 3 - 8px)!important;}
.flex.wrap.space > .col-4 {flex-basis: calc(100% / 4 - 8px)!important;}

/* LIST - UL */
ul.list {}
ul.list .list-item {display: flex; align-items: flex-start;}
ul.list .list-item + .list-item {margin-top: 8px;}
ul.list .list {margin-top: 8px;}
ul.list .list-bullet {margin-right: 8px; font-size: inherit; color: inherit;}
ul.list .list-text {font-size: inherit; color: inherit;}
ul.list .list-block {}
/* LIST - OL */
ol.list {}
ol.list .list-item {}
ol.list .list-item::before {}
/* LIST - DL */
dl.list {}
dl.list .list-dt {}
dl.list .list-dd {}
/* LIST - SIZE */
.list.xs {font-size: var(--font-xs);}
.list.sm {font-size: var(--font-sm);}
.list.md {font-size: var(--font-md);}
.list.lg {font-size: var(--font-lg);}
.list.xl {font-size: var(--font-xl);}
/* LIST - COLOR */
.list.light {color: rgba(0, 0, 0, 0.25);}
.list.dark {color: rgba(0, 0, 0, 0.75);}
/* .list:not(ul):not(ol):not(dl) {} */

/* TABLE */
.table-wrap {overflow: hidden;}
table.table {margin-left: -1px; width: calc(100% + 1px); border-collapse: initial; border-top: 1px solid rgb(0, 0, 0);}
table.table th {padding: 8px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-left: 1px solid rgba(0, 0, 0, 0.15); background-color: rgba(0, 0, 0, 0.05); font-size: inherit; color: inherit;}
table.table td {padding: 8px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-left: 1px solid rgba(0, 0, 0, 0.15); font-size: inherit; color: inherit;}
/* TABLE - SIZE */
table.table.xs {font-size: var(--font-xs);}
table.table.sm {font-size: var(--font-sm);}
table.table.md {font-size: var(--font-md);}
table.table.lg {font-size: var(--font-lg);}
table.table.xl {font-size: var(--font-xl);}
/* TABLE - COLOR */
table.table.light {}
table.table.dark {}
/* TABLE - ALIGN */
table.table.left th,
table.table.left td {text-align: left;}
table.table .left {text-align: left!important;}
table.table.right th,
table.table.right td {text-align: right;}
table.table .right {text-align: right!important;}
table.table.center th,
table.table.center td {text-align: center;}
table.table .center {text-align: center!important;}

ul.table {}
li.table {}

dl.table {display: flex; flex-wrap: wrap; margin-left: -1px; border-top: 1px solid rgb(0, 0, 0);}
dl.table dt {flex-grow: 0; flex-shrink: 0; flex-basis: 25%; padding: 8px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-left: 1px solid rgba(0, 0, 0, 0.15); background-color: rgba(0, 0, 0, 0.05);}
dl.table dd {flex-grow: 1; flex-shrink: 0; flex-basis: 25%; padding: 8px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); border-left: 1px solid rgba(0, 0, 0, 0.15);}

/* BUTTON */
.button {flex-shrink: 0; display: inline-flex; justify-content: center; align-items: center; padding: 0 15px; min-height: 40px; border-radius: 5px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(34, 34, 34); letter-spacing: 0; transition: all 250ms cubic-bezier(.65,.05,.36,1);}
.button:hover {border-color: rgb(187, 187, 187); box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);}
.button:focus {border-color: rgb(187, 187, 187); background-color: rgb(238, 238, 238);}
/* BUTTON - DARK */
.button.dark {border: 0; background-color: rgb(34, 34, 34); color: rgb(255, 255, 255);}
.button.dark:focus {background-color: rgb(85, 85, 85);}
/* BUTTON - DISABLED */
.button.disabled,
.button:disabled {opacity: 0.25; cursor: default; pointer-events: none;}
.button.disabled:hover,
.button:disabled:hover {box-shadow: none;}
/* BUTTON - GROUP */
.button-group {display: flex;}
/* BUTTON - ALGIN */
.button.left {justify-content: flex-start;}
.button-group.right {justify-content: flex-end;}
.button-group.center {justify-content: center;}
.button-group.column.center {align-items: center;}
/* BUTTON - DIRECTION */
.button-group.column {flex-direction: column; align-items: flex-start;}
/* BUTTON - GROW */
.button.grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.button-group.column .button.grow {width: 100%;}
/* BUTTON - SPACE */
.button-group + .button-group {margin-top: 20px;}
.button-group .button + .button {margin-left: 10px;}
.button-group.column .button + .button {margin-top: 10px; margin-left: 0;}
/* BUTTON - FIT */
.button-group.fit .button {border-radius: 0;}
.button-group.fit .button + .button {margin-left: 0;}
/* BUTTON - WRAP */
.button-group.wrap {overflow: hidden; flex-wrap: wrap; margin-top: -10px; margin-left: -10px;}
.button-group.wrap .button {margin-top: 10px; margin-left: 10px;}
.button-group.wrap .button:last-child {margin-right: 0;}
/* BUTTON - LABEL */
.button-label.grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.button-label.ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/* BUTTON - ICON */
.button.icon {padding: 0; width: auto; min-height: auto; height: auto; border: 0;}
.button.icon:hover {border: 0; box-shadow: none;}
.button.icon:focus {border: 0; background-color: none;}
.button.icon.w24 {width: 24px; height: 24px;}
.button-icon {flex-shrink: 0;}
.button-label + .button-icon,
.button-icon + .button-label {margin-left: 5px;}

/* FIELD */
.field {}
.field + .field {margin-top: 10px;}
.field.grow,
.field .grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
/* FIELD - GROUP */
.field-group {display: flex;}
.field-group + .field-group {margin-top: 10px;}
.field-group .field + .field {margin-top: 0; margin-left: 10px;}
.field + .field-group {margin-top: 10px;}
.field-group + .field {margin-top: 10px;}
.field-group.column {flex-direction: column;}
.field-group.column .field + .field {margin-top: 10px; margin-left: 0;}
/* FIELD - ROW */
.field-row {display: flex;}
.field-row + .field-row {margin-top: 10px;}
.field-row > * + * {margin-left: 10px;}
.field-row[class*=col-] {flex-wrap: wrap; margin-top: -10px;}
.field-row[class*=col-] > [class*=field-] {flex-grow: 0; flex-shrink: 0; margin-top: 10px; margin-left: 0;}
.field-row.col-1 > [class*=field-]{flex-basis: 100%;}
.field-row.col-2 > [class*=field-]{flex-basis: calc(100% / 2);}
.field-row.col-3 > [class*=field-]{flex-basis: calc(100% / 3);}
.field-row.col-4 > [class*=field-]{flex-basis: calc(100% / 4);}
.field-row.wrap {flex-wrap: wrap; margin-top: -10px; margin-left: -10px;}
.field-row.wrap > [class*=field-] {margin-top: 10px; margin-left: 10px;}
/* FIELD - OUTLINE */
.field-outline {display: flex; align-items: stretch; min-height: 40px; border-radius: 5px; box-shadow: inset 0 0 0 1px rgb(187, 187, 187); background-color: rgb(255, 255, 255); transition: box-shadow 250ms cubic-bezier(.65,.05,.36,1);}
.field-outline:focus-within {box-shadow: inset 0 0 0 2px rgb(187, 187, 187);}
.field-outline.grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.field-outline > * {padding: 0 10px;}
.field-outline > * + * {padding-left: 0;}
.field-outline.column {flex-direction: column;}
.field-outline.column > * {padding: 10px;}
.field-outline.column > * + * {padding-top: 0;}
.field-outline .center {place-self: center;}
.field-outline .bottom {place-self: flex-end;}
.field-outline.column .right {place-self: flex-end;}
/* FIELD - VALID */
.field.valid .field-outline {box-shadow: inset 0 0 0 1px rgb(0, 150, 255);}
.field.valid .field-outline:focus-within {box-shadow: inset 0 0 0 2px rgb(0, 150, 255);}
.field.valid .field-message {color: rgb(0, 100, 255);}
/* FIELD - INVALID */
.field.invalid .field-outline {box-shadow: inset 0 0 0 1px rgb(255, 150, 0);}
.field.invalid .field-outline:focus-within {box-shadow: inset 0 0 0 2px rgb(255, 150, 0);}
.field.invalid .field-message {color: rgb(255, 100, 0);}
/* FIELD - ICON */
/* FIELD - BUTTON */
.field-button {flex-shrink: 0; display: flex; justify-content: center; align-items: center;}
/* FIELD - LABEL */
.field-label {display: block; margin-bottom: 10px;}
/* FIELD - TEXT */
.field-text {flex-shrink: 0; display: flex; align-items: center;}
/* FIELD - MESSAGE */
.field-message {margin-top: 5px;}
/* FIELD - INFO */
.field-info {margin-top: 5px; color: rgb(136, 136, 136);}
/* FIELD - COUNT */
.field-count {color: rgb(136, 136, 136);}
/* FIELD - INPUT */
.field-input {height: 40px;}
.field-input input:not([type=checkbox]):not([type=radio]) {padding: 10px 0; width: 100%; height: 100%; border: 0; background-color: transparent;}
.field-input input:not([type=checkbox]):not([type=radio]):focus {outline: none;}
.field-input.right input {text-align: right;}
.field-input.center input {text-align: center;}
/* FIELD - INPUT SCRIPT */
._input-clear {visibility: hidden; pointer-events: none; opacity: 0;}
._input-clear._active {visibility: visible; pointer-events: all; opacity: 1;}
/* FIELD - SELECT */
.field-select {display: flex; padding-right: 0; min-width: 0; height: 40px;}
.field-select select {padding-right: 30px; width: 100%; height: 100%; background-color: transparent; background-image: var(--icon-001); background-repeat: no-repeat; background-position: calc(100% - 10px) 50%; background-size: 16px 16px; color: inherit; white-space: nowrap; text-overflow: ellipsis;}
.field-select select:focus {outline: none;}
.field-select button:not(._dropdown-option) {overflow: hidden; display: flex; align-items: center; padding-right: 30px; width: 100%; height: 100%; background-color: transparent; background-image: var(--icon-001); background-repeat: no-repeat; background-position: calc(100% - 10px) 50%; background-size: 16px 16px; text-align: left;}
.field-select [class*=-label] {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/* FIELD - TEXTAREA */
.field-textarea {display: flex; padding: 10px;}
.field-textarea textarea {width: 100%; min-height: 100px; border: 0; background-color: transparent; resize: none;}
.field-textarea textarea:focus {outline: none;}
/* FIELD - RADIO */
.field-radio {display: flex; position: relative; align-items: center;}
.field-radio input[type=radio] {visibility: hidden; position: absolute; top: 0; left: 0; width: 0px; height: 0; border: 0; background-color: transparent; opacity: 0;}
.field-radio .field-icon {flex-shrink: 0; margin-right: 10px; width: 24px; height: 24px; background-image: var(--icon-004); background-repeat: no-repeat; background-position: 50% 50%; background-size: 24px 24px;}
.field-radio .field-label {display: block; margin-bottom: 0;}
.field-radio input[type=radio]:checked ~ .field-icon {background-image: var(--icon-005);}
/* FIELD - RADIO OPTION */
.field-radio.option {justify-content: center; align-items: stretch; height: 40px;}
.field-radio.option .field-label {display: flex; align-items: center; padding: 0 10px;}
.field-radio.option .field-label::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 5px; box-shadow: inset 0 0 0 1px rgb(187, 187, 187);}
.field-radio.option input[type=radio]:checked ~ .field-label::before {box-shadow: inset 0 0 0 2px rgb(0, 150, 255);}
/* FIELD - RADIO OPTION GROUP */
.field-radio.option.group + .field-radio.option.group {margin-left: -1px;}
.field-radio.option.group .field-label::before {border-radius: 0;}
.field-radio.option.group:first-child .field-label::before {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.field-radio.option.group:last-child .field-label::before {border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.field-radio.option.group input[type=radio]:checked ~ .field-label::before {z-index: 1;}
/* FIELD - CHECKBOX */
.field-checkbox {display: flex; position: relative; align-items: center;}
.field-checkbox input[type=checkbox] {visibility: hidden; position: absolute; top: 0; left: 0; width: 0px; height: 0; border: 0; background-color: transparent; opacity: 0;}
.field-checkbox .field-icon {flex-shrink: 0; margin-right: 10px; width: 24px; height: 24px; background-image: var(--icon-006); background-repeat: no-repeat; background-position: 50% 50%; background-size: 24px 24px;}
.field-checkbox .field-label {display: block; margin-bottom: 0;}
.field-checkbox input[type=checkbox]:checked ~ .field-icon {background-image: var(--icon-007);}
/* FIELD - CURSOR */
.field-label,
.field-checkbox,
.field-radio,
.field-select select {cursor: pointer;}
/* FIELD - DISABLED */
.field.disabled .field-outline,
.field.disabled .field-checkbox,
.field.disabled .field-radio,
.field .field-checkbox.disabled,
.field .field-radio.disabled {opacity: 0.35; cursor: default; pointer-events: none;}
.field.disabled .field-outline {background-color: rgb(238, 238, 238);}
/* FIELD - READONLY */
.field.readonly .field-outline,
.field.readonly .field-checkbox,
.field.readonly .field-radio,
.field .field-checkbox.readonly,
.field .field-radio.readonly {cursor: default; pointer-events: none;}
.field.readonly input,
.field.readonly textarea,
.field.readonly .field-checkbox .field-label,
.field.readonly .field-radio .field-label,
.field .field-checkbox.readonly .field-label,
.field .field-radio.readonly .field-label {color: rgba(0, 0, 0, 0.35);}

/* DROPDOWN */
.dropdown {position: relative;}
.dropdown-button {overflow: hidden; display: flex; justify-content: flex-start; align-items: center; padding-right: 30px; width: 100%; height: 40px; border-radius: 5px; background-color: transparent; background-image: var(--icon-001); background-repeat: no-repeat; background-position: calc(100% - 10px) 50%; background-size: 16px 16px; box-shadow: inset 0 0 0 1px rgb(187, 187, 187);}
.dropdown:focus-within .dropdown-button {box-shadow: inset 0 0 0 2px rgb(187, 187, 187);}
.dropdown-items {overflow: hidden; position: absolute; z-index: 1; bottom: 0; left: 0; width: 100%; height: 0; border-radius: 5px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255); transform: translateY(calc(100% - 2px)); opacity: 0;}
.dropdown-items::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 5px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); pointer-events: none;}
.dropdown-item + .dropdown-item {border-top: 1px solid rgb(187, 187, 187);}
.dropdown-option {display: flex; justify-content: flex-start; align-items: center; padding: 10px 30px 10px 10px; width: 100%; height: 40px; white-space: nowrap;}
.dropdown-label {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/* DROPDOWN - SCRIPT */
._dropdown-replace select {pointer-events: none;}
._dropdown-replace select._hidden {position: absolute; z-index: -1; top: 0; left: 0; opacity: 0;}
._dropdown-items._active {height: auto; opacity: 1;}
._dropdown-items._revert {bottom: initial; top: 0; transform: translateY(calc(-100% + 2px));}
._dropdown-option._active {background-color: rgb(238, 238, 238);}
/* DROPDOWN - FIELD */
.field-select .dropdown,
.field-select .dropdown-button {width: 100%; height: 100%;}
.field-select .dropdown-button,
.field-select .dropdown:focus-within .dropdown-button {box-shadow: none;}
.field-select .dropdown .dropdown-items {margin-left: -10px; width: calc(100% + 10px);}

/* COLLAPSE */
.collapse {overflow: hidden; border-radius: 5px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255);}
.collapse-item + .collapse-item {border-top: 1px solid rgb(187, 187, 187);}
.collapse-flex {display: flex; align-items: center;}
.collapse-flex .grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.collapse-button {flex-shrink: 0; display: flex; align-items: center; margin-left: auto; padding: 10px; text-align: left; color: rgb(136, 136, 136);}
.collapse-button::after {content: ''; margin-left: auto; width: 16px; height: 16px; background-image: var(--icon-000); background-position: 0 0; background-repeat: no-repeat; background-size: contain; transform: rotate(180deg); opacity: 0.5;}
.collapse-target {overflow: hidden; max-height: 0; border-top: 1px solid rgba(204, 204, 204, 0);}
.collapse-content {}
/* COLLAPSE - SCRIPT */
._collapse-button._active {color: rgb(0, 0, 0);}
._collapse-button._active::after {transform: rotate(0);}
._collapse-target._active {border-color:rgba(204, 204, 204, 1); max-height: none;}

/* TABS */
.tabs {overflow: hidden; border-radius: 5px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255);}
.tabs-scroll {position: relative;}
.tabs-scroll::after {content: ''; position: absolute; top: 0; right: 0; width: 50px; height: 100%; border-top-right-radius: 5px; background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); pointer-events: none;}
.tabs-scroll .tabs-buttons {overflow-x: auto;}
.tabs-scroll .tabs-buttons::-webkit-scrollbar {display: none;}
.tabs-scroll .tabs-buttons {-ms-overflow-style: none; scrollbar-width: none;}
.tabs-buttons {display: flex;}
.tabs-buttons .grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.tabs-button {flex-shrink: 0; position: relative; padding: 10px; color: rgb(136, 136, 136); white-space: nowrap;}
.tabs-button::after {content: ''; position: absolute; z-index: 1; bottom: 0; left: 50%; width: 0; height: 2px; background-color: rgb(102, 102, 102); transform: translateX(-50%);}
.tabs-targets {position: relative;}
.tabs-target {visibility: hidden; position: absolute; z-index: -1; top: 0; left: 0; width: 100%; box-shadow: 0 -1px 0 rgb(187, 187, 187); opacity: 0.5;}
/* TABS - SCRIPT */
._tabs-button._active {color: rgb(0, 0, 0);}
._tabs-button._active::after {width: 100%;}
._tabs-target._active {visibility: visible; position: relative; z-index: 0; opacity: 1;}

/* ALERT */
.alert {display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; pointer-events: none;}
.alert-content {display: flex; flex-direction: column; justify-content: center; padding: 16px; width: calc(100% - 48px); min-height: 200px; border-radius: 10px; background-color: rgb(255, 255, 255); box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);}
.alert-message {flex-grow: 1; flex-shrink: 0; flex-basis: 0; display: flex; justify-content: center; align-items: center;}
/* ALERT - SCRIPT */
._alert._active {pointer-events: initial; opacity: 1;}

/* MODAL */
.modal {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.25);}
.modal-content {display: flex; flex-direction: column; position: absolute; background-color: rgb(255, 255, 255);}
.modal-header {display: flex; flex-shrink: 0; position: relative; padding: 0 10px; height: 50px;}
.modal-title {display: flex; align-items: center;  padding: 0 10px;}
.modal-title.center {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.modal-button {display: flex; align-items: center;}
.modal-button.right {margin-left: auto;}
.modal-main {flex: 1; flex-shrink: 0; flex-basis: 0;}
/* .modal-main.center {text-align: center;} */
/* .modal-main.middle {display: flex; flex-direction: column; justify-content: center;} */
.modal-footer {flex-shrink: 0; padding: 15px;}
/* MODAL - SCRIPT */
._modal {visibility: hidden; z-index: -1; opacity: 0; pointer-events: none; transform: scale(0);}
._modal-content._top {top: 0; left: 0; width: 100%; min-height: 50%; border-radius:0 0 10px 10px; transform: translate(0, -100%);}
._modal-content._bottom {bottom: 0; left: 0; width: 100%; min-height: 50%; max-height: 50%; border-radius: 10px 10px 0 0; transform: translate(0, 100%);}
._modal-content._left {top: 0; left: 0; min-width: calc(100% - 24px); height: 100%; transform: translate(-100%, 0);}
._modal-content._right {top: 0; right: 0; min-width: calc(100% - 24px); height: 100%; transform: translate(100%, 0);}
._modal-content._center {top: 50%; left: 50%; min-width: 50%; min-height: 50%; width: calc(100% - 48px); border-radius: 10px; transform: translate(-50%, -50%);}
._modal-content._full {top: 0; left: 0; width: 100%; height: 100%;}
._modal._active {visibility: visible; opacity: 1; pointer-events: initial; transform: scale(1);}
._modal._active ._modal-content:not(._center) {transform: translate(0, 0);}
/* MODAL - ALERT */
._modal._alert {}
._modal._alert ._modal-content {min-height: 200px;}
/* MODAL - SELECT */
.modal-select {}
.modal-select .select-item {}
.modal-select .select-item + .select-item {border-top: 1px solid rgb(238, 238, 238);}
.modal-select .select-button {display: flex; align-items: center; padding: 10px 0 10px 20px; width: 100%; min-height: 50px;}
.modal-select .select-label {}
.modal-select .select-icon {flex-shrink: 0; margin-left: auto;}
/* MODAL - SELECT SCRIPT */
._modal._select {}
._modal ._select-option {}
._modal ._select-option._active {background-color: rgb(238, 238, 238);}

/* POPOVER */
.popover-content {display: flex; position: absolute; z-index: 1; pointer-events: none;}
.popover-message {overflow: hidden; position: absolute; width: 0; border-radius: 5px; background-color: rgb(0, 0, 0); box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); text-align: left; line-height: 1.25; color: rgb(255, 255, 255); word-break: keep-all;}
.popover-message > * {display: block; padding: 8px 10px;}
/* POPOVER - SCRIPT */
._popover {overflow: initial; position: relative;}
._popover-content,
._popover-content::before {opacity: 0;}
._popover-content._top {top: 0; left: 50%; transform: translateY(calc(-100% - 8px));}
._popover-content._bottom {bottom: 0; left: 50%; transform: translateY(calc(100% + 8px));}
._popover-content._left {left: 0; top: 50%; transform: translateX(calc(-100% - 8px));}
._popover-content._right {right: 0; top: 50%; transform: translateX(calc(100% + 8px));}
._popover-content._top::before {content: ''; position: absolute; bottom: 0; left: 50%; border-top: 4px solid rgb(0, 0, 0); border-left: 3px solid transparent; border-right: 3px solid transparent; transform: translate(-50%, 100%);}
._popover-content._bottom::before {content: ''; position: absolute; top: 0; left: 50%; border-bottom: 4px solid rgb(0, 0, 0); border-left: 3px solid transparent; border-right: 3px solid transparent; transform: translate(-50%, -100%);}
._popover-content._left::before {content: ''; position: absolute; top: 50%; right: 0; border-left: 4px solid rgb(0, 0, 0); border-top: 3px solid transparent; border-bottom: 3px solid transparent; transform: translate(100%, -50%);}
._popover-content._right::before {content: ''; position: absolute; top: 50%; left: 0; border-right: 4px solid rgb(0, 0, 0); border-top: 3px solid transparent; border-bottom: 3px solid transparent; transform: translate(-100%, -50%);}
._popover-content._top ._popover-message {transform: translate(-50%, -100%);}
._popover-content._bottom ._popover-message {transform: translate(-50%, 0);}
._popover-content._left ._popover-message {transform: translate(-100%, -50%);}
._popover-content._right ._popover-message {transform: translate(0, -50%);}
._popover-content._active,
._popover-content._active::before {opacity: 1;}

html._lockup {overflow: hidden; height: 100%;}
/* html._lockup body > :not(.modal) {position: fixed; top: 0; left: 0; width: 100%; height: 100%;} */

/* FIXED Z-INDEX */
.alert {z-index: 100;}
.modal._active {z-index: 100;}