/* BUTTON */
.button {flex-shrink: 0; display: inline-flex; justify-content: center; align-items: center; padding: 0 15px; min-height: 40px; border-radius: 5px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(34, 34, 34); letter-spacing: 0; transition: all 250ms cubic-bezier(.65,.05,.36,1);}
.button:hover {border-color: rgb(187, 187, 187); box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.075);}
.button:focus {border-color: rgb(187, 187, 187); background-color: rgb(238, 238, 238);}
/* BUTTON - DARK */
.button.dark {border: 0; background-color: rgb(34, 34, 34); color: rgb(255, 255, 255);}
.button.dark:focus {background-color: rgb(85, 85, 85);}
/* BUTTON - DISABLED */
.button.disabled,
.button:disabled {opacity: 0.25; cursor: default; pointer-events: none;}
.button.disabled:hover,
.button:disabled:hover {box-shadow: none;}
/* BUTTON - GROUP */
.button-group {display: flex;}
/* BUTTON - ALGIN */
.button-group.center {justify-content: center;}
.button.left {justify-content: flex-start;}
/* BUTTON - DIRECTION */
.button-group.column {flex-direction: column; align-items: flex-start;}
.button-group.column.center {align-items: center;}
/* BUTTON - GROW */
.button.grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.button-group.column .button.grow {width: 100%;}
/* BUTTON - SPACE */
.button-group + .button-group {margin-top: 10px;}
.button-group .button + .button {margin-left: 10px;}
.button-group.column .button + .button {margin-top: 10px; margin-left: 0;}
/* BUTTON - FIT */
.button-group.fit .button {border-radius: 0;}
.button-group.fit .button + .button {margin-left: 0;}
/* BUTTON - WRAP */
.button-group.wrap {overflow: hidden; flex-wrap: wrap; margin-top: 0; margin-left: -10px;}
.button-group.wrap .button {margin-top: 10px; margin-left: 10px;}
.button-group.wrap .button:last-child {margin-right: 0;}
/* BUTTON - LABEL */
.button-label.grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.button-label.ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/* BUTTON - ICON */
.button-icon {flex-shrink: 0;}
.button-label + .button-icon,
.button-icon + .button-label {margin-left: 5px;}

/* FIELD */
.field {}
.field.grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
/* FIELD - GROUP */
.field-group {display: flex;}
/* FIELD - ROW */
.field-row {display: flex;}
/* FIELD - OUTLINE */
.field-outline {overflow: hidden; display: flex; align-items: stretch; min-height: 40px; border-radius: 5px; box-shadow: inset 0 0 0 1px rgb(187, 187, 187); background-color: rgb(255, 255, 255); transition: box-shadow 250ms cubic-bezier(.65,.05,.36,1);}
.field-outline:focus-within {box-shadow: inset 0 0 0 2px rgb(187, 187, 187);}
.field-outline.grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
/* FIELD - VALID */
.field.valid .field-outline {box-shadow: inset 0 0 0 1px rgb(0, 150, 255);}
.field.valid .field-outline:focus-within {box-shadow: inset 0 0 0 2px rgb(0, 150, 255);}
.field.valid .field-message {color: rgb(0, 100, 255);}
/* FIELD - INVALID */
.field.invalid .field-outline {box-shadow: inset 0 0 0 1px rgb(255, 150, 0);}
.field.invalid .field-outline:focus-within {box-shadow: inset 0 0 0 2px rgb(255, 150, 0);}
.field.invalid .field-message {color: rgb(255, 100, 0);}
/* FIELD - DIRECTION */
.field-group.column {flex-direction: column;}
.field-outline.column {flex-direction: column;}
/* FIELD - SPACE */
.field + .field {margin-top: 20px;}
.field + .field-group {margin-top: 20px;}
.field-group + .field {margin-top: 20px;}
.field-group + .field-group {margin-top: 20px;}
.field-group .field + .field {margin-top: 0; margin-left: 10px;}
.field-group.column .field + .field {margin-top: 20px; margin-left: 0;}
.field-row + .field-row {margin-top: 10px;}
.field-row > * + *{margin-left: 10px;}
.field-outline > * {padding: 10px;}
.field-outline > * + * {padding-left: 0;}
.field-outline.column > * {padding: 10px;}
.field-outline.column > * + * {padding-top: 0;}
/* FIELD - ALIGN */
.field-outline .center {place-self: center;}
.field-outline .bottom {place-self: flex-end;}
.field-outline.column .right {place-self: flex-end;}
/* FIELD - GROW */
.field .grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
/* FIELD - ICON */
/* FIELD - BUTTON */
/* FIELD - LABEL */
.field-label {display: block; margin-bottom: 5px;}
/* FIELD - TEXT */
.field-text {flex-shrink: 0; display: flex; align-items: center;}
/* FIELD - MESSAGE */
.field-message {margin-top: 5px;}
/* FIELD - INFO */
.field-info {margin-top: 5px; color: rgb(136, 136, 136);}
/* FIELD - COUNT */
.field-count {color: rgb(136, 136, 136);}
/* FIELD - INPUT */
.field-input {}
.field-input input:not([type=checkbox]):not([type=radio]) {width: 100%; height: 20px; border: 0; background-color: transparent;}
.field-input input:not([type=checkbox]):not([type=radio]):focus {outline: none;}
/* FIELD - SELECT */
.field-select {padding: 0;}
.field-select select {padding-right: 30px; width: 100%; height: 100%; background-color: transparent; background-image: var(--icon-001); background-repeat: no-repeat; background-position: calc(100% - 10px) 50%; background-size: 16px 16px; color: inherit;}
.field-select select:focus {outline: none;}
.field-select button {padding-right: 30px; width: 100%; height: 100%; background-color: transparent; background-image: var(--icon-001); background-repeat: no-repeat; background-position: calc(100% - 10px) 50%; background-size: 16px 16px; text-align: left;}
/* FIELD - TEXTAREA */
.field-textarea {display: flex; padding: 10px;}
.field-textarea textarea {width: 100%; min-height: 100px; border: 0; background-color: transparent; resize: none;}
.field-textarea textarea:focus {outline: none;}
/* FIELD - RADIO */
.field-radio {display: flex; position: relative; align-items: center;}
.field-radio input[type=radio] {visibility: hidden; position: absolute; top: 0; left: 0; width: 0px; height: 0; border: 0; background-color: transparent; opacity: 0;}
.field-radio .field-icon {flex-shrink: 0; margin-right: 10px; width: 24px; height: 24px; background-image: var(--icon-004); background-repeat: no-repeat; background-position: 50% 50%; background-size: 24px 24px;}
.field-radio .field-label {display: block; margin-bottom: 0;}
.field-radio input[type=radio]:checked ~ .field-icon {background-image: var(--icon-005);}
/* FIELD - RADIO OPTION */
.field-radio.option {justify-content: center; align-items: stretch; height: 40px;}
.field-radio.option .field-label {display: flex; align-items: center; padding: 0 10px;}
.field-radio.option .field-label::before {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 5px; box-shadow: inset 0 0 0 1px rgb(187, 187, 187);}
.field-radio.option input[type=radio]:checked ~ .field-label::before {box-shadow: inset 0 0 0 2px rgb(0, 150, 255);}
/* FIELD - RADIO OPTION GROUP */
.field-radio.option.group + .field-radio.option.group {margin-left: -1px;}
.field-radio.option.group .field-label::before {border-radius: 0;}
.field-radio.option.group:first-child .field-label::before {border-top-left-radius: 5px; border-bottom-left-radius: 5px;}
.field-radio.option.group:last-child .field-label::before {border-top-right-radius: 5px; border-bottom-right-radius: 5px;}
.field-radio.option.group input[type=radio]:checked ~ .field-label::before {z-index: 1;}
/* FIELD - CHECKBOX */
.field-checkbox {display: flex; position: relative; align-items: center;}
.field-checkbox input[type=checkbox] {visibility: hidden; position: absolute; top: 0; left: 0; width: 0px; height: 0; border: 0; background-color: transparent; opacity: 0;}
.field-checkbox .field-icon {flex-shrink: 0; margin-right: 10px; width: 24px; height: 24px; background-image: var(--icon-006); background-repeat: no-repeat; background-position: 50% 50%; background-size: 24px 24px;}
.field-checkbox .field-label {display: block; margin-bottom: 0;}
.field-checkbox input[type=checkbox]:checked ~ .field-icon {background-image: var(--icon-007);}
/* FIELD - CURSOR */
.field-label,
.field-checkbox,
.field-radio,
.field-select select {cursor: pointer;}
/* FIELD - DISABLED */
.field.disabled .field-outline,
.field.disabled .field-checkbox,
.field.disabled .field-radio,
.field .field-checkbox.disabled,
.field .field-radio.disabled {opacity: 0.35; cursor: default; pointer-events: none;}
.field.disabled .field-outline {background-color: rgb(238, 238, 238);}

/* COLLAPSE */
.collapse {overflow: hidden; border-radius: 5px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255);}
.collapse-item + .collapse-item {border-top: 1px solid rgb(187, 187, 187);}
.collapse-flex {display: flex; align-items: center;}
.collapse-flex .grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.collapse-button {display: flex; margin-left: auto; padding: 10px; text-align: left; color: rgb(136, 136, 136);}
.collapse-button::after {content: ''; margin-left: auto; width: 16px; height: 16px; background-image: var(--icon-000); background-position: 0 0; background-repeat: no-repeat; background-size: contain; transform: rotate(180deg); opacity: 0.5;}
.collapse-button._active {color: rgb(0, 0, 0);}
.collapse-button._active::after {transform: rotate(0);}
.collapse-target {overflow: hidden; height: 0; border-top: 1px solid rgba(204, 204, 204, 0);}
.collapse-target._active {border-color:rgba(204, 204, 204, 1); height: auto;}
.collapse-target > * {padding: 10px;}

/* TABS */
.tabs {overflow: hidden; border-radius: 5px; border: 1px solid rgb(187, 187, 187); background-color: rgb(255, 255, 255);}
.tabs-scroll {position: relative;}
.tabs-scroll::after {content: ''; position: absolute; top: 0; right: 0; width: 50px; height: 100%; border-top-right-radius: 5px; background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); pointer-events: none;}
.tabs-scroll .tabs-buttons {overflow-x: auto;}
.tabs-scroll .tabs-buttons::-webkit-scrollbar {display: none;}
.tabs-scroll .tabs-buttons {-ms-overflow-style: none; scrollbar-width: none;}
.tabs-buttons {display: flex;}
.tabs-buttons .grow {flex-grow: 1; flex-shrink: 0; flex-basis: 0;}
.tabs-button {flex-shrink: 0; position: relative; padding: 10px; color: rgb(136, 136, 136); white-space: nowrap;}
.tabs-button._active {color: rgb(0, 0, 0);}
.tabs-button::after {content: ''; position: absolute; z-index: 1; bottom: 0; left: 50%; width: 0; height: 2px; background-color: rgb(102, 102, 102); transform: translateX(-50%);}
.tabs-button._active::after {width: 100%;}
.tabs-targets {position: relative;}
.tabs-target {visibility: hidden; position: absolute; z-index: -1; top: 0; left: 0; width: 100%; box-shadow: 0 -1px 0 rgb(187, 187, 187); opacity: 0.5;}
.tabs-target._active {visibility: visible; position: relative; z-index: 0; opacity: 1;}
.tabs-target > * {padding: 10px;}

/* ALERT */
.alert {display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); opacity: 0; pointer-events: none; transition: all 250ms cubic-bezier(.86, 0, .07, 1);}
.alert._active {pointer-events: initial; opacity: 1;}
.alert-content {display: flex; flex-direction: column; justify-content: center; padding: 16px; width: calc(100% - 48px); min-height: 200px; border-radius: 10px; background-color: rgb(255, 255, 255); box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);}
.alert-message {flex-grow: 1; flex-shrink: 0; flex-basis: 0; display: flex; justify-content: center; align-items: center;}

/* POPOVER */
.popover {display: flex; position: absolute; pointer-events: none; opacity: 0;}
.popover._active {opacity: 1;}
.popover-content {padding: 8px 10px; border-radius: 5px; background-color: rgb(0, 0, 0);}
.popover-message {display: block; text-align: left; color: rgb(255, 255, 255); word-break: break-all;}
.popover._top {top: 0; transform: translateY(calc(-100% - 8px));}
.popover._right {right: 0; transform: translateX(calc(100% + 8px));}
.popover._bottom {bottom: 0; transform: translateY(calc(100% + 8px));}
.popover._left {left: 0; transform: translateX(calc(-100% - 8px));}
.popover._top .popover-content::before {content: ''; position: absolute; bottom: 0; left: 50%; border-top: 4px solid rgb(0, 0, 0); border-left: 3px solid transparent; border-right: 3px solid transparent; transform: translate(-50%, 100%);}
.popover._right .popover-content::before {content: ''; position: absolute; top: 50%; left: 0; border-right: 4px solid rgb(0, 0, 0); border-top: 3px solid transparent; border-bottom: 3px solid transparent; transform: translate(-100%, -50%);}
.popover._bottom .popover-content::before {content: ''; position: absolute; top: 0; left: 50%; border-bottom: 4px solid rgb(0, 0, 0); border-left: 3px solid transparent; border-right: 3px solid transparent; transform: translate(-50%, -100%);}
.popover._left .popover-content::before {content: ''; position: absolute; top: 50%; right: 0; border-left: 4px solid rgb(0, 0, 0); border-top: 3px solid transparent; border-bottom: 3px solid transparent; transform: translate(100%, -50%);}

/* FIXED Z-INDEX */
.alert {z-index: 100;}