.guide-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.guide-header {
  position: relative;
  height: 7rem;
  border-bottom: 0.1rem solid rgba(225, 225, 225);
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0.1rem 1rem rgba(245, 245, 245);
}
.guide-header__title {
  position: absolute;
  top: 50%;
  left: 2rem;
  margin: 0;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1;
  transform: translateY(-50%);
}
.guide-header__menu {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.guide-header__menu .menu__link {
  margin-left: 1rem;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.guide-main {
  overflow-y: auto;
  display: flex;
  flex: 1;
}
.guide-main__menu {
  overflow-y: auto;
  padding: 0 2rem 0 2rem;
  min-width: 22rem;
  box-sizing: border-box;
}
.guide-main__menu .menu__text {
  margin: 3rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgb(235, 235, 235);
  font-size: 1.8rem;
  line-height: 1;
}
.guide-main__menu .menu__link {
  position: relative;
  display: block;
  margin-bottom: 1.5rem;
  line-height: 1;
  color: rgb(150, 150, 150);
}
.guide-main__menu .menu__link--active {
  color: rgb(0, 0, 0);
}
.guide-main__menu .menu__link--active i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.guide-main__content {
  overflow-y: auto;
  flex: 1;
  padding: 0 2rem;
}
.guide-content__title {
  margin: 3rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgb(235, 235, 235);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
}
.guide-viewer {
  padding-bottom: 5rem;
}
.guide-viewer__title
 {
  margin: 3rem 0 2rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
}
.guide-viewer__title--bullet {
  position: relative;
  padding-left: 1rem;
  font-weight: 400;
}
.guide-viewer__title--bullet::before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
}
.guide-viewer__title + .guide-viewer__title {
  margin-top: 0;
}
.guide-viewer__text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgb(102, 102, 102);
}
/* .guide-viewer__list {} */
.guide-viewer__list .list__item {
  position: relative;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgb(102, 102, 102);
}
.guide-viewer__list .list__item--dash {
  padding-left: 1rem;
}
.guide-viewer__list .list__item--dash::before {
  content: '-';
  position: absolute;
  top: 0;
  left: 0;
}
.guide-viewer__table {
  border-top: 0.1rem solid rgb(204, 204, 204);
  border-bottom: 0.1rem solid rgb(204, 204, 204);
}
.guide-viewer__table thead th {
  padding: 0.5rem;
  border-left: 0.1rem solid rgb(204, 204, 204);
  border-bottom: 0.1rem solid rgb(204, 204, 204);
  background-color: rgb(234, 234, 234);
  font-size: 1.4rem;
  line-height: 2rem;
}
.guide-viewer__table thead th:first-child {
  border-left: 0;
}
.guide-viewer__table tbody th {
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgb(204, 204, 204);
  border-left: 0.1rem solid rgb(204, 204, 204);
  background-color: rgb(234, 234, 234);
  font-size: 1.4rem;
  line-height: 2rem;
}
.guide-viewer__table tbody th:first-child {
  border-left: 0;
}
.guide-viewer__table tbody td {
  padding: 0.5rem;
  border-bottom: 0.1rem solid rgb(204, 204, 204);
  border-left: 0.1rem solid rgb(204, 204, 204);
  font-size: 1.4rem;
  line-height: 2rem;
}
.guide-viewer__table tbody td:first-child {
  border-left: 0;
}
.guide-viewer__content {
  overflow: hidden;
  position: relative;
  border: 0.1rem solid rgb(235, 235, 235);
  border-radius: 0.5rem;
}
.guide-viewer__view {
  padding: 1rem;
}
.guide-viewer__comment {
  margin: 0;
  padding: 0 0.5rem 0.5rem;
  border-top: 0.1rem solid rgb(235, 235, 235);
  background-color: rgb(245, 245, 245);
  list-style: none;
}
.guide-viewer__comment .comment__text {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: rgb(255, 255, 255);
  font-size: 1.4rem;
}
.guide-viewer__tab {
  display: flex;
  justify-content: flex-start;
  border-top: 0.1rem solid rgb(235, 235, 235);
  text-align: right;
}
.guide-viewer__tab .tab__button {
  width: 6rem;
  height: 4rem;
  border: 0;
  border-right: 0.1rem solid rgb(235, 235, 235);
  background-color: rgb(255, 255, 255);
  font-family: 'Noto Sans KR';
  font-size: 1.4rem;
}
.guide-viewer__tab .tab__button:focus {
  outline: 0;
}
.guide-viewer__tab .tab__button--active {
  background-color: rgb(40, 44, 52);
  color: rgb(255, 255, 255);
}
/* .guide__code {} */
.highlight {
  display: none;
  overflow: hidden;
  margin: 0!important;
  padding: 0!important;
}
.highlight code {
  /* padding: 0; */
  font-family: 'Noto Sans KR';
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: 0;
}