@charset "utf-8";

@import 'font.css';

html {
  height: 100%;
  font-family: 'Noto Sans KR';
  font-size: 10px;
}
body {
  height: 100%;
  margin: 0;
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
}
.container {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.header {
  position: relative;
  height: 7rem;
  border-bottom: 0.1rem solid rgba(225, 225, 225);
  background-color: rgb(245, 245, 245);
  box-shadow: 0 0.1rem 1rem rgba(235, 235, 235);
}
.header__title {
  position: absolute;
  top: 50%;
  left: 2rem;
  margin: 0;
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 1;
  transform: translateY(-50%);
}
.header__menu {
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}
.header__menu .menu__link {
  margin-left: 1rem;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.main {
  overflow-y: auto;
  display: flex;
  flex: 1;
}
.main__menu {
  padding: 0 0 0 2rem;
  min-width: 20rem;
  box-sizing: border-box;
}
.main__menu .menu__text {
  margin: 3rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgb(235, 235, 235);
  font-size: 1.8rem;
  line-height: 1;
}
.main__menu .menu__link {
  display: block;
  margin-bottom: 1rem;
  line-height: 1;
  color: rgb(150, 150, 150);
}
.main__menu .menu__link--active {
  color: rgb(0, 0, 0);
}
.main__content {
  flex: 1;
  padding: 0 2rem;
}
.content__title {
  margin: 3rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid rgb(235, 235, 235);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
}
.content__title--small {
  margin: 2rem 0 1rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
}
.guide {
  overflow: hidden;
  position: relative;
  border: 0.1rem solid rgb(235, 235, 235);
  border-radius: 0.5rem;
}
.guide__view {
  padding: 1rem;
}
.guide__tab {
  display: flex;
  justify-content: flex-start;
  border-top: 0.1rem solid rgb(235, 235, 235);
  text-align: right;
}
.guide__tab .tab__button {
  width: 6rem;
  height: 4rem;
  border: 0;
  border-right: 0.1rem solid rgb(235, 235, 235);
  background-color: rgb(255, 255, 255);
  font-family: 'Noto Sans KR';
  font-size: 1.4rem;
}
.guide__tab .tab__button:focus {
  outline: 0;
}
.guide__tab .tab__button--active {
  background-color: rgb(40, 44, 52);
  color: rgb(255, 255, 255);
}
/* .guide__code {} */
.highlight {
  display: none;
  overflow: hidden;
  margin: 0!important;
  padding: 0!important;
}
.highlight code {
  /* padding: 0; */
  font-family: 'Noto Sans KR';
  font-size: 1.4rem;
  letter-spacing: 0;
}