<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI GUIDE</title>

  <link rel="stylesheet" href="../../css/style.css">
  <link rel="stylesheet" href="../../lib/prism/prism.okaidia.css">

  <script src="../../lib/jquery/jquery-3.5.1.min.js"></script>
  <script src="../../lib/gsap/gsap.min.js"></script>
</head>
<body>
  <div class="guide-container">
    <main class="guide-main">
      <section class="guide-main__content">
        <h2 class="guide-content__title">Collapse</h2>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Collapse - Default</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <ul class="collapse-default">
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_01_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_01">
                    <span>Collapse Button</span>
                    <i class="fas fa-angle-down"></i>
                  </button>
                  <div id="COLLAPSE_01" class="collapse-default__content">
                    Collapse Content
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_02_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_02">
                    <span>Collapse Button</span>
                    <i class="fas fa-angle-down"></i>
                  </button>
                  <div id="COLLAPSE_02" class="collapse-default__content">
                    Collapse Content
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_03_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_03">
                    <span>Collapse Button</span>
                    <i class="fas fa-angle-down"></i>
                  </button>
                  <div id="COLLAPSE_03" class="collapse-default__content">
                    Collapse Content
                  </div>
                </li>
              </ul>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 2020.07.14 수정 : 내용</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="tab__button" data-lang="html">html</button>
              <!-- <button class="tab__button" data-lang="css">css</button>
              <button class="tab__button" data-lang="script">script</button> -->
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__code">
              <pre class="line-numbers" data-lang="html">
                <code class="language-html">
                  <ul class="collapse-default">
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_01_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_01">
                        <span>Collapse Button</span>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div id="COLLAPSE_01" class="collapse-default__content">
                        Collapse Content
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_02_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_02">
                        <span>Collapse Button</span>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div id="COLLAPSE_02" class="collapse-default__content">
                        Collapse Content
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_03_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_03">
                        <span>Collapse Button</span>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div id="COLLAPSE_03" class="collapse-default__content">
                        Collapse Content
                      </div>
                    </li>
                  </ul>
                </code>
              </pre>
              <!-- <pre class="line-numbers" data-lang="css">
                <code class="language-css">
                  /* style */
                </code>
              </pre>
              <pre class="line-numbers" data-lang="script">
                <code class="language-js">
                  // script
                </code>
              </pre> -->
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->

          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Collapse - Group</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">
              <ul id="COLLAPSE_GROUP" class="collapse-default">
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_GROUP_01_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_GROUP_01">
                    <span>Collapse Button</span>
                    <i class="fas fa-angle-down"></i>
                  </button>
                  <div id="COLLAPSE_GROUP_01" class="collapse-default__content" data-parent="#COLLAPSE_GROUP">
                    Collapse Content
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_GROUP_02_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_GROUP_02">
                    <span>Collapse Button</span>
                    <i class="fas fa-angle-down"></i>
                  </button>
                  <div id="COLLAPSE_GROUP_02" class="collapse-default__content" data-parent="#COLLAPSE_GROUP">
                    Collapse Content
                  </div>
                </li>
                <li class="collapse-default__item">
                  <button type="button" id="COLLAPSE_GROUP_03_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_GROUP_03">
                    <span>Collapse Button</span>
                    <i class="fas fa-angle-down"></i>
                  </button>
                  <div id="COLLAPSE_GROUP_03" class="collapse-default__content" data-parent="#COLLAPSE_GROUP">
                    Collapse Content
                  </div>
                </li>
              </ul>
            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 2020.07.14 수정 : 내용</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="tab__button" data-lang="html">html</button>
              <!-- <button class="tab__button" data-lang="css">css</button>
              <button class="tab__button" data-lang="script">script</button> -->
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__code">
              <pre class="line-numbers" data-lang="html">
                <code class="language-html">
                  <ul id="COLLAPSE_GROUP" class="collapse-default">
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_GROUP_01_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_GROUP_01">
                        <span>Collapse Button</span>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div id="COLLAPSE_GROUP_01" class="collapse-default__content" data-parent="#COLLAPSE_GROUP">
                        Collapse Content
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_GROUP_02_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_GROUP_02">
                        <span>Collapse Button</span>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div id="COLLAPSE_GROUP_02" class="collapse-default__content" data-parent="#COLLAPSE_GROUP">
                        Collapse Content
                      </div>
                    </li>
                    <li class="collapse-default__item">
                      <button type="button" id="COLLAPSE_GROUP_03_BUTTON" class="collapse-default__button" data-toggle="collapse" data-target="#COLLAPSE_GROUP_03">
                        <span>Collapse Button</span>
                        <i class="fas fa-angle-down"></i>
                      </button>
                      <div id="COLLAPSE_GROUP_03" class="collapse-default__content" data-parent="#COLLAPSE_GROUP">
                        Collapse Content
                      </div>
                    </li>
                  </ul>
                </code>
              </pre>
              <!-- <pre class="line-numbers" data-lang="css">
                <code class="language-css">
                  /* style */
                </code>
              </pre>
              <pre class="line-numbers" data-lang="script">
                <code class="language-js">
                  // script
                </code>
              </pre> -->
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

      </section>
    </main>
  </div>

  <script src="../../js/guide.js"></script>
  <script src="../../js/components.js"></script>
  <script src="../../lib/prism/prism.js"></script>
  <script>
    GUIDE.include.header();
    GUIDE.include.menu('C0301');
  </script>
</body>
</html>