<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UI GUIDE</title>

  <link rel="stylesheet" href="../../css/style.new.css#1">

  <script src="../../lib/jquery/jquery-3.5.1.min.js"></script>
  <script src="../../lib/prism/prism.js"></script>
</head>
<body>
  <div class="guide-container">
    <main class="guide-main">
      <section class="guide-main__content">
        <h2 class="guide-content__title">Sample</h2>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Button</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">

              <div class="button-group">
                <button type="button" class="button">
                  <span class="button-label">button</span>
                </button>
                <a href="#" class="button dark">
                  <span class="button-label">anchor</span>
                </a>
                <button type="button" class="button" disabled>
                  <span class="button-label">button</span>
                </button>
                <a href="#" class="button dark disabled">
                  <span class="button-label">anchor</span>
                </a>
              </div>

              <div class="button-group">
                <button type="button" class="button">
                  <i class="button-icon icon-003"></i>
                  <span class="button-label">icon</span>
                </button>
                <button type="button" class="button">
                  <span class="button-label">icon</span>
                  <i class="button-icon icon-003"></i>
                </button>
              </div>

              <div class="button-group center">
                <button type="button" class="button">
                  <span class="button-label">center</span>
                </button>
                <button type="button" class="button dark">
                  <span class="button-label">center</span>
                </button>
              </div>

              <div class="button-group column">
                <button type="button" class="button grow">
                  <span class="button-label">column</span>
                </button>
                <button type="button" class="button dark grow">
                  <span class="button-label">column</span>
                </button>
              </div>

              <div class="button-group">
                <button type="button" class="button grow">
                  <span class="button-label">grow</span>
                </button>
                <button type="button" class="button dark grow">
                  <span class="button-label">grow</span>
                </button>
              </div>

              <div class="button-group fit">
                <button type="button" class="button grow">
                  <span class="button-label">fit</span>
                </button>
                <button type="button" class="button dark grow">
                  <span class="button-label">fit</span>
                </button>
              </div>

              <div class="button-group">
                <button type="button" class="button grow">
                  <i class="button-icon icon-003"></i>
                  <span class="button-label ellipsis">ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis</span>
                </button>
                <button type="button" class="button dark grow">
                  <span class="button-label ellipsis">ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis</span>
                </button>
                <button type="button" class="button grow">
                  <i class="button-icon icon-003"></i>
                  <span class="button-label ellipsis">ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis</span>
                </button>
                <button type="button" class="button dark grow">
                  <span class="button-label ellipsis">ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis ellipsis</span>
                </button>
              </div>

              <div class="button-group wrap">
                <button type="button" class="button">
                  <span class="button-label">wrap wrap wap wrap wrap</span>
                </button>
                <button type="button" class="button dark">
                  <span class="button-label">wrap wrap wap wrap wrap</span>
                </button>
                <button type="button" class="button">
                  <span class="button-label">wrap wrap wap wrap wrap</span>
                </button>
                <button type="button" class="button dark">
                  <span class="button-label">wrap wrap wap wrap wrap</span>
                </button>
              </div>

            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Form</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">

              <div class="field">
                <div class="field-line">
                  <div class="field-input">
                    <input type="text" placeholder="placeholder">
                  </div>
                  <span class="field-text">@</span>
                  <div class="field-input">
                    <input type="text" placeholder="placeholder">
                  </div>
                  <button type="button" class="field-icon">
                    <i class="icon-001"></i>
                  </button>
                </div>
                <p class="field-message">message</p>
                <p class="field-info">info</p>
              </div>

              <div class="field">
                <div class="field-line valid">
                  <div class="field-input">
                    <input type="text" placeholder="placeholder">
                  </div>
                  <span class="field-text">@</span>
                  <div class="field-select grow">
                    <select>
                      <option>option</option>
                      <option>option</option>
                      <option>option</option>
                    </select>
                  </div>
                </div>
                <p class="field-message">message</p>
                <p class="field-info">info</p>
              </div>

              <div class="field">
                <div class="field-line invalid">
                  <div class="field-input">
                    <input type="text" placeholder="placeholder">
                  </div>
                  <span class="field-text">@</span>
                  <div class="field-select grow">
                    <button type="button">option</button>
                  </div>
                </div>
                <p class="field-message">message</p>
                <p class="field-info">info</p>
              </div>

            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Collapse</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">

              <div class="collapse _collapse">
                <div class="collapse-item _collapse-item">
                  <div class="collapse-flex">
                    <button type="button" class="collapse-button _collapse-button _active">
                      <span>BUTTON 1</span>
                    </button>
                  </div>
                  <div class="collapse-target _collapse-target _active">
                    <div>
                      CONTENT 1<br>
                      CONTENT 1<br>
                      CONTENT 1<br>
                      CONTENT 1<br>
                      CONTENT 1
                    </div>
                  </div>
                </div>
                <div class="collapse-item _collapse-item">
                  <div class="collapse-flex">
                    <button type="button" class="collapse-button _collapse-button">
                      <span>BUTTON 2</span>
                    </button>
                  </div>
                  <div class="collapse-target _collapse-target">
                    <div>
                      CONTENT 2<br>
                      CONTENT 2<br>
                      CONTENT 2
                    </div>
                  </div>
                </div>
                <div class="collapse-item _collapse-item">
                  <div class="collapse-flex">
                    <button type="button" class="collapse-button _collapse-button">
                      <span>BUTTON 3</span>
                    </button>
                  </div>
                  <div class="collapse-target _collapse-target">
                    <div>
                      CONTENT 3<br>
                      CONTENT 3<br>
                      CONTENT 3<br>
                      CONTENT 3<br>
                      CONTENT 3
                    </div>
                  </div>
                </div>
              </div>

              <br>

              <div class="collapse _collapse _group">
                <div class="collapse-item _collapse-item">
                  <div class="collapse-flex">
                    <button type="button" class="collapse-button _collapse-button _active">
                      <span>BUTTON 1</span>
                    </button>
                  </div>
                  <div class="collapse-target _collapse-target _active">
                    <div>
                      CONTENT 1<br>
                      CONTENT 1<br>
                      CONTENT 1<br>
                      CONTENT 1<br>
                      CONTENT 1
                    </div>
                  </div>
                </div>
                <div class="collapse-item _collapse-item">
                  <div class="collapse-flex">
                    <button type="button" class="collapse-button _collapse-button">
                      <span>BUTTON 2</span>
                    </button>
                  </div>
                  <div class="collapse-target _collapse-target">
                    <div>
                      CONTENT 2<br>
                      CONTENT 2<br>
                      CONTENT 2
                    </div>
                  </div>
                </div>
                <div class="collapse-item _collapse-item">
                  <div class="collapse-flex">
                    <button type="button" class="collapse-button _collapse-button">
                      <span>BUTTON 3</span>
                    </button>
                  </div>
                  <div class="collapse-target _collapse-target">
                    <div>
                      CONTENT 3<br>
                      CONTENT 3<br>
                      CONTENT 3<br>
                      CONTENT 3<br>
                      CONTENT 3
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <!-- <button class="guide-tab__button" data-lang="css">css</button> -->
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <!-- html -->
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* css */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  UI.collapse.bind({
                    container: 'body',
                    selector: '_collapse',
                    item: '_collapse-item',
                    button: '_collapse-button',
                    target: '_collapse-target',
                    active: '_active',
                    group: '_group',
                    duration: '250ms',
                    easing: 'cubic-bezier(.65,.05,.36,1)',
                    on: {
                      init: function(){ ... },
                      change: function(){ ... },
                      scroll: function(){ ... },
                      show: function(){ ... }
                    }
                  });

                  UI.collapse.on({
                    init: function(){ ... },
                    change: function(){ ... },
                    scroll: function(){ ... },
                    show: function(){ ... }
                  });

                  UI.collapse.on('init', function(){ ... });
                  UI.collapse.on('change', function(){ ... });
                  UI.collapse.on('scroll', function(){ ... });
                  UI.collapse.on('show', function(){ ... });
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Tabs</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">

              <div class="tabs _tabs">
                <div class="tabs-buttons">
                  <button type="button" class="tabs-button _tabs-button _active">
                    <span>BUTTON 1</span>
                  </button>
                  <button type="button" class="tabs-button _tabs-button">
                    <span>BUTTON 2</span>
                  </button>
                  <button type="button" class="tabs-button _tabs-button">
                    <span>BUTTON 3</span>
                  </button>
                </div>
                <div class="tabs-targets">
                  <div class="tabs-target _tabs-target _active">
                    <div>
                      CONTENTS 1<br>
                      CONTENTS 1<br>
                      CONTENTS 1<br>
                      CONTENTS 1<br>
                      CONTENTS 1
                    </div>
                  </div>
                  <div class="tabs-target _tabs-target">
                    <div>
                      CONTENTS 2<br>
                      CONTENTS 2<br>
                      CONTENTS 2
                    </div>
                  </div>
                  <div class="tabs-target _tabs-target">
                    <div>
                      CONTENTS 3<br>
                      CONTENTS 3<br>
                      CONTENTS 3<br>
                      CONTENTS 3<br>
                      CONTENTS 3
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <button class="guide-tab__button" data-lang="html">html</button>
              <!-- <button class="guide-tab__button" data-lang="css">css</button> -->
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <!-- html -->
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* css */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  UI.tabs.bind({
                    container: 'body',
                    selector: '_tabs',
                    button: '_tabs-button',
                    target: '_tabs-target',
                    active: '_active',
                    duration: '250ms',
                    easing: 'cubic-bezier(.65,.05,.36,1)',
                    on: {
                      init: function(){ ... },
                      change: function(){ ... },
                      scroll: function(){ ... },
                      show: function(){ ... }
                    }
                  });

                  UI.tabs.on({
                    init: function(){ ... },
                    change: function(){ ... },
                    scroll: function(){ ... },
                    show: function(){ ... }
                  });

                  UI.tabs.on('init', function(){ ... });
                  UI.tabs.on('change', function(){ ... });
                  UI.tabs.on('scroll', function(){ ... });
                  UI.tabs.on('show', function(){ ... });
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

        <article class="guide-viewer">
          <!-- GUIDE TITLE -->
          <h3 class="guide-viewer__title">Alert</h3>
          <!-- [S] GUIDE -->
          <div class="guide-viewer__content">
            <!-- [S] VIEW -->
            <div class="guide-viewer__view">

              <div class="button-group">
                <button type="button" class="button" onclick="UI.alert.show({message: 'Alert', confirm: 'confirm'})">
                  <span class="button-label">Alert</span>
                  <span class="button-icon icon-010"></span>
                </button>
                <button type="button" class="button" onclick="UI.alert.show({message: 'Confirm', confirm: 'confirm', cancel: 'cancel'})">
                  <span class="button-label">Confirm</span>
                  <span class="button-icon icon-010"></span>
                </button>
              </div>

            </div>
            <!-- [E] VIEW -->
            <!-- [S] COMMENT -->
            <!-- <ul class="guide-viewer__comment">
              <li class="comment__text"># 코멘트</li>
            </ul> -->
            <!-- [E] COMMENT -->
            <!-- [S] BUTTON -->
            <div class="guide-viewer__tab">
              <!-- <button class="guide-tab__button" data-lang="html">html</button> -->
              <!-- <button class="guide-tab__button" data-lang="css">css</button> -->
              <button class="guide-tab__button" data-lang="script">script</button>
            </div>
            <!-- [E] BUTTON -->
            <!-- [S] CODE -->
            <div class="guide-viewer__syntax">
              <pre class="guide-viewer__pre line-numbers" data-lang="html">
                <code class="guide-viewer__code language-html">
                  <!-- html -->
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="css">
                <code class="guide-viewer__code language-css">
                  /* css */
                </code>
              </pre>
              <pre class="guide-viewer__pre line-numbers" data-lang="script">
                <code class="guide-viewer__code language-js">
                  UI.alert.bind({
                    container: 'body',
                    selector: '_alert',
                    confirm: '_alert-confirm',
                    cancel: '_alert-cancel',
                    active: '_active',
                    duration: '250ms',
                    easing: 'cubic-bezier(.86, 0, .07, 1)'
                    on: {
                      init: function(){ ... },
                      change: function(){ ... },
                      show: function(){ ... },
                      hide: function(){ ... }
                    }
                  });

                  UI.alert.on({
                    init: function(){ ... },
                    change: function(){ ... },
                    show: function(){ ... },
                    hide: function(){ ... }
                  });

                  UI.alert.on('init', function(){ ... });
                  UI.alert.on('change', function(){ ... });
                  UI.alert.on('show', function(){ ... });
                  UI.alert.on('hide', function(){ ... });

                  UI.alert.show({
                    message: 'message',
                    confirm: 'confirm',
                    cancel: 'cancel',
                    on: {
                      confirm: function(){ ... },
                      cancel: function(){ ... }
                    }
                  });

                  UI.alert.hide();
                </code>
              </pre>
            </div>
            <!-- [E] CODE -->
          </div>
          <!-- [E] GUIDE -->
        </article>

      </section>
    </main>
  </div>

  <script src="../../js/guide.js"></script>
  <script src="../../js/global.js"></script>
  <script src="../../js/components.new.js"></script>
</body>
</html>